div(ng-controller="SearchCtrl")

  input.form-control(
    autofocus,
    type="text", 
    ng-model="search", 
    ng-model-options="{debounce: {default: 2000}}"
  )
  
  .row
    .col-xs-4
      h3 Artists    
      div(ng-repeat="artist in data.artists.items")
        a(href="#", ng-click="enqueueArtist(artist.uri)")
          img(ng-src="{{artist.images[2].url}}")
        h4
          a(ng-click="playArtist(album.uri)", href="#")
            span.fa.fa-fw.fa-play
          a(ng-click="enqueueArtist(track.uri)", href="#")
            span.fa.fa-fw.fa-plus
          | {{artist.name}}

    .col-xs-4
      h3 Albums
      div(ng-repeat="album in data.albums.items")
        a(href="#", ng-click="enqueueAlbum(album.uri)")
          img(ng-src="{{album.images[2].url}}")
        h4
          a(ng-click="playAlbum(album.uri)")
            span.fa.fa-fw.fa-play
          a(ng-click="enqueueAlbum(track.uri)")
            span.fa.fa-fw.fa-plus
          | {{album.name}}
        h5.text-muted
          | {{ album.artist.name }}, 

    .col-xs-4
      h3 Tracks
      div(ng-repeat="track in data.tracks.items")
        a(ng-click="enqueue(track.uri)", href="#")
          img(ng-src="{{track.album.images[2].url}}")
        h4
          a(ng-click="play(track.uri)", href="#")
            span.fa.fa-fw.fa-play
          a(ng-click="enqueue(track.uri)", href="#")
            span.fa.fa-fw.fa-plus
          | {{track.name}}
        h5.text-muted
          span(ng-repeat="artist in track.artists")
            | {{ artist.name }}, 
 
  pre {{ data | json }}
