.row.text-left.sp-spotify-tile(ng-click="onEnqueue()")
    .col-md-4.text-left
      img.img-responsive(ng-src="{{img}}")
    .col-md-8
      h4.cursor-pointer(ng-click="onPlay()")
        | {{ text }}
      h5.text-muted
        | {{subText}}
