div(ng-controller="SpHomeCtrl")
  h1 Hello SpotiPi!
  
  .row
    .col-sm-9
      input.form-control(type="text", ng-model="search", ng-model-options="{debounce: {default: 2000}}", required)
      
      div(ng-repeat="track in data.tracks.items")
        h3 
          a(ng-click="play(track.uri)")
            span.fa.fa-fw.fa-play
          | {{track.name}}
        h4
          span(ng-repeat="artist in track.artists")
            | {{ artist.name }}, 
        img(ng-src="{{track.album.images[2].url}}")
      pre {{ data | json }}
    .col-sm-3
      pre {{ playing | json }}
