doctype html
html(ng-app='spotipiRemote')
  head
    title SpotiPi
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    link(href='app.less', type='text/css', rel='stylesheet/less')
  body
    // Livereload script for development only (stripped during dist build)
    script(src='http://localhost:35729/livereload.js', data-concat='false')
    // JS from Bower Components
    script(src='./bower_components/less.js/dist/less-1.6.2.js', data-concat='false')
    script(src='./socket.io/socket.io.js')
    script(src='./bower_components/jquery/jquery.js')
    script(src='./bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='./bower_components/lodash/dist/lodash.js')
    script(src='./bower_components/moment/moment.js')
    script(src='./bower_components/angular/angular.js')
    script(src='./bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='./bower_components/angular-animate/angular-animate.js')
    script(src='./bower_components/angular-resource/angular-resource.js')
    script(src='./bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='./bower_components/angular-ui-utils/ui-utils.js')
    script(src='./bower_components/angular-socket-io/socket.js')
    script(src='./bower_components/angular-spotify/src/angular-spotify.js')
    // Add New Bower Component JS Above
    // Main App JS
    script(src='./app.js')
    script(src='./sp-home/sp-home.js')
    script(src='./sp-home/partial/sp-home/sp-home.js')
    script(src='./sp-api/sp-api.js')
    script(src='./sp-api/service/sp-Api.js')
    script(src='./sp-spotify/sp-spotify.js')
    script(src='./sp-spotify/service/sp-Spotify.js')
    script(src='./sp-spotify/partial/search/search.js')
    script(src='./sp-spotify/partial/sp-spotify-home/sp-spotify-home.js')
      
    script(src='./sp-home/directive/sp-navbar/sp-navbar.js')
    script(src='./sp-spotify/directive/sp-spotify-now/sp-spotify-now.js')
    // Add New Component JS Above

    .container
      sp-navbar
      div(ui-view)
