nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#') SpotiPi
        
    ul.nav.navbar-nav.navbar-right
      li(ui-sref-active="active")
        a(ui-sref="spotify") Spotify

